@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat-Light.ttf);
}

@import './base/reset';
@import './example';
@import './layout/aboutMe';
@import './layout/advantages';
@import './layout/footer';
@import './layout/form';
@import './layout/header';
@import './layout/instagram';
@import './layout/reviews';
@import './layout/services';
@import './layout/swiper';
@import './Components/container';
