<section id="aboutMe" class="aboutMe aboutMe__overlay sectionHidden">
  <div class="container">
    <h2 class="aboutMe__title">Про мене</h2>
    <div class="aboutMe__flex-desktop">
      <div class="aboutMe__flex">
        <picture class="aboutMe__picture-1">
          <source
            srcset="
              ./images/aboutMe/aboutMe-1-desktop-1x.png 1x,
              ./images/aboutMe/aboutMe-1-desktop-2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/aboutMe/aboutMe-1-tablet-1x.png 1x,
              ./images/aboutMe/aboutMe-1-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/aboutMe/aboutMe-1-mob-1x.png 1x,
              ./images/aboutMe/aboutMe-1-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class=""
            src="./images/aboutMe/aboutMe-1-mob-1x.png"
            alt=" personal stylist uzhgorod"
          />
        </picture>
        <picture class="aboutMe__picture-2">
          <source
            srcset="
              ./images/aboutMe/aboutMe-2-desktop-1x.png 1x,
              ./images/aboutMe/aboutMe-2-desktop-2x.png 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/aboutMe/aboutMe-2-tablet-1x.png 1x,
              ./images/aboutMe/aboutMe-2-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/aboutMe/aboutMe-2-mob-1x.png 1x,
              ./images/aboutMe/aboutMe-2-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="aboutMe__picture-2"
            src="./images/aboutMe/aboutMe-2-mob-1x.png"
            alt=" personal stylist uzhgorod"
          />
        </picture>
      </div>
      <div class="aboutMe__text-container">
        <p class="aboutMe__text">
          Привіт! Мене звати Оля. Якщо познайомитися зі мною ближче, то ви
          побачите щиру та веселу дівчину. Я така і саме ці риси дуже ціную в
          людях.
        </p>
        <p class="aboutMe__text">
          Моя місія робити жінок щасливішими та впевненішими в собі, розбираючи
          гардероби, проводячи семінари та стилізуючи зйомки.
        </p>
        <p class="aboutMe__text">
          Критикувати, нав’язувати та гнатися за трендами – не про мої методи.
          Для мене важливо, щоб наша співпраця приносила приємні емоції, а
          рекомендації допомагали Вам правильно самовиражатися за допомогою
          одягу.
        </p>
        <p class="aboutMe__text">
          Я педантична, тому навчалася в топових стилістів України, знання та
          досвід яких взяла за основу, щоб систематизувати роботу персонального
          стиліста на професійному рівні. Для мене пріоритетним в роботі є
          визначення Вашого індивідуального запиту, адже кожна з нас - особлива!
        </p>
      </div>
    </div>
  </div>
</section>
