<footer class="footer sectionHidden">
  <div class="container">
    <div class="footer__tablet">
      <nav class="footer__nav-list">
        <a href="" class="footer__nav-link">ПРО МЕНЕ</a>
        <a href="#adve" class="footer__nav-link">ПЕРЕВАГИ</a>
        <a href="#how" class="footer__nav-link">ПОСЛУГИ</a>
        <a href="#section-products" class="footer__nav-link">ВІДГУКИ</a>
        <a href="#contacts" class="footer__nav-link">INSTAGRAM</a>
        <a href="#contacts" class="footer__nav-link">КОНТАКТИ</a>
      </nav>
      <div class="footer__desctop">
        <a class="footer__tel" href="#tel:+380506957429">+380 (50) 695 74 29</a>
        <a class="footer__mail" href="mailto: olyalutso.stylist@gmail.com"
          >olyalutso.stylist@gmail.com</a
        >
        <div class="footer__icons">
          <svg class="instagram-svg footer__social" width="30" height="30">
            <use href="./images/spryte.svg#icon-instagram"></use>
          </svg>
          <svg class="instagram-svg" width="30" height="30">
            <use href="./images/spryte.svg#telegram_icon"></use>
          </svg>
        </div>
      </div>
    </div>
    <p class="footer__rights">&#169; 2022 Olya Lutso — персональний стиліст.</p>
    <p class="footer__rights">Усі права захищені</p>
  </div>
</footer>
