<footer class="footer">
  <div class="container">
    <div class="footer__tablet">
      <nav class="footer__nav-list">
        <a href="#scrollToAboutMe" class="footer__nav-link">ПРО МЕНЕ</a>
        <a href="#scrollToAdvantages" class="footer__nav-link">ПЕРЕВАГИ</a>
        <a href="#scrollToServices" class="footer__nav-link">ПОСЛУГИ</a>
        <a href="#scrollToReviews" class="footer__nav-link">ВІДГУКИ</a>
        <a href="#scrollToInstagram" class="footer__nav-link">INSTAGRAM</a>
        <a href="#scrollToContacts" class="footer__nav-link">КОНТАКТИ</a>
      </nav>
      <div class="footer__desctop">
        <img class="ellipsFooter" src="./images/background/Ellipse16.png" />
        <img class="ellipsFooter2" src="./images/background/Ellipse16.png" />

        <img
          class="ellipsCircleSmallFooter"
          src="./images/background/EllipseCircle.png"
        />
        <img
          class="ellipsCircleSmallFooter2"
          src="./images/background/EllipseCircleSecond.png"
        />
        <a class="footer__tel" href="#tel:+380506957429">+380 (50) 695 74 29</a>
        <a class="footer__mail" href="mailto: olyalutso.stylist@gmail.com"
          >olyalutso.stylist@gmail.com</a
        >
        <div class="footer__icons">
          <a
            href="https://www.instagram.com/olyalutso/"
            target="_blank"
            style="-webkit-tap-highlight-color: #0000"
          >
            <svg class="instagram-svg footer__social" width="30" height="30">
              <use href="./images/spryte.svg#icon-instagram"></use>
            </svg>
          </a>
          <a
            href="https://t.me/olyalutso"
            target="_blank"
            style="-webkit-tap-highlight-color: #0000"
          >
            <svg style="position: relative" width="35" height="30">
              <use href="./images/spryte.svg#telegram_icon"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <p class="footer__rights">&#169; 2022 Olya Lutso — персональний стиліст.</p>
    <p class="footer__rights">Усі права захищені</p>
  </div>
</footer>
