<section class="form">
  <div class="container">
    <h2 class="form__title">
      Отримати прайс та <br />
      замовити послугу
    </h2>
    <div class="form__desktop-flex">
      <form
        id="form"
        role="form"
        class="form__form"
        action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSefCbQs6vBE3nUlPJpB-b-_p-m6lxZA1EUCZsYWkb6JyUIrwQ/formResponse"
        method="POST"
        target="hidden_iframe"
        onsubmit="submitted = true;"
      >
        <div class="form__input-name">
          <label class="form__name" for="name">Ваше ім’я</label>
          <input
            type="text"
            name="entry.565994647"
            id="name"
            placeholder="Уведіть ім’я"
            class="form__input"
            required
          />
        </div>
        <div class="form__input-phone">
          <label class="form__phone" for="phone">Ваш телефон</label>
          <input
            type="tel"
            name="entry.760238429"
            id="phone_number"
            value=""
            pattern="\+[\d\s()-]{9,13}"
            placeholder="+XXX (__) ___-__-__"
            class="form__input-phone-1 form__input"
            title="Введіть дійсний номер телефону (щонайменше 9 цифр)"
            oninput="formatPhoneNumber(this)"
            minlength="9"
            required
          />
          <p class="form__messenger">Оберіть зручний месенджер</p>

          <input
            class="form__input-messager"
            type="messager"
            name="entry.299806277"
            id="Search"
            value="Telegram"
            required
          />

          <div class="form__radio">
            <div class="radio">
              <input
                id="Telegram"
                type="radio"
                name="entry.299806277_sentinel"
                value="Telegram"
                checked
              />
              <label for="Telegram" class="radio-label">Telegram</label>
            </div>

            <div class="radio">
              <input
                id="Viber"
                type="radio"
                name="entry.299806277_sentinel"
                value="Viber"
              />
              <label for="Viber" class="radio-label">Viber</label>
            </div>
          </div>
        </div>
        <button class="btn" type="submit" id="open_pop_up">
          зв’яжіться зі мною
        </button>
        <p class="form__rights">
          Заповнюючи цю форму, Ви погоджуєтесь на обробку персональних даних
        </p>
      </form>
      <img class="ellips7" src="./images/background/Ellipse16.png" />
      <img
        class="ellipsCircleForm"
        src="./images/background/EllipseCircle.png"
      />
      <img class="ellipsCircleForm2" src="./images/background/Ellipse20.png" />
      <img class="ellipsCircleForm3" src="./images/background/Ellipse20.png" />

      <picture class="form__picture">
        <source
          srcset="
            ./images/form/form-desktop-1x.png 1x,
            ./images/form/form-desktop-2x.png 2x
          "
          media="(min-width: 1024px)"
        />
        <img
          class="form__picture-img"
          src="./images/form/form-desktop-1x.png"
          alt=" personal stylist uzhgorod"
        />
      </picture>
    </div>
    <!-- <div class="pop_up" id="pop_up">
      <img src="./images/popCircle.png" />
      <div>
        <a href="#333">
          <img id="close_pop_up" class="cross-img" src="./images/закрыть.svg" />
        </a>
      </div>
      <div class="thx-text-container">
        <p class="header-thx">Дякую!</p>
        <p class="thx-text">Мені приємно, що Ви цікавитесь моїми послугами.</p>
        <p class="thx-text">
          Найближчим часом я зв‘яжусь з Вами в обраному месенджері за номером
        </p>
        <p class="thx-number">+380981234567</p>

        <button class="thx-btn" id="perHead">
          <a href="#headerScroll">на головну</a>
        </button>
      </div>
    </div> -->
  </div>
</section>
