<!-- <header class="header" id="raketa">
  <div class="container">
    <nav class="navigation" id="navigation">
      <a href="" class="logo">
        <img src="./images/logo.png" alt="logo" width="200" height="50" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link nav-link-active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#adve" class="nav-link">About us</a>
        </li>
        <li class="nav-item">
          <a href="#how" class="nav-link">How it’s made?</a>
        </li>
        <li class="nav-item">
          <a href="#section-products" class="nav-link">Our products</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">Contact</a>
        </li>
      </ul>
      <div class="header__right">
        <button
          class="menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="humb-icon" width="20" height="12">
            <use href="../src/images/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <button class="header__button" data-modal-open>
          Buy now
          <svg class="contacts_icon-arrow">
            <use href="../src/images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
<section class="section__hero animate__animated animate__fadeInUp">
  <div class="container hero__container">
    <div class="hero__content">
      <div class="hero__content_left">
        <h1 class="hero__title">
          ice cream made with <span class="hero__accent">passion</span>
        </h1>
        <a href="#section-products" class="link hero__link">Products</a>
        <a href="#how" class="link hero__link hero__link_light"
          >How it’s made?</a
        >
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="" class="link hero__link_small">
          <svg class="arrow-right" width="10" height="10">
            <use href="../src/images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </div>
      <div class="hero__content_right">
        <ul class="hero__list">
          <li class="hero__item">
            <span class="hero__list_accent">16</span>
            <span class="hero__list_text">cafes</span>
          </li>
          <li class="hero__item">
            <span class="hero__list_accent">23</span>
            <span class="hero__list_text">food trucks</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__bg-images">
      <div class="bg__icecream">
        <picture>
          <source
            srcset="
              ./images/hero-icecream-desktop-1x.png 1x,
              ./images/hero-icecream-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-icecream-tablet-1x.png 1x,
              ./images/hero-icecream-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-icecream-mob-1x.png 1x,
              ./images/hero-icecream-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/hero-icecream-mob-1x.png" alt="icecream" />
        </picture>
      </div>
      <div class="ellipce">
        <picture>
          <source
            srcset="
              ./images/hero-ellipse-desktop-1x.png 1x,
              ./images/hero-ellipse-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-ellipse-tablet-1x.png 1x,
              ./images/hero-ellipse-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero-ellipse-mob-1x.png 1x,
              ./images/hero-ellipse-mob-2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img src="./images/hero-ellipse-mob-1x.png" alt="ellipse" />
        </picture>
      </div>
      <div class="bg-woman">
        <picture>
          <source
            srcset="
              ./images/hero-woman-desktop-1x.png 1x,
              ./images/hero-woman-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-woman-tablet-1x.png 1x,
              ./images/hero-woman-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero-woman-tablet-1x.png" alt="woman" />
        </picture>
      </div>
      <div class="bg-milk">
        <picture>
          <source
            srcset="
              ./images/hero-milk-desktop-1x.png 1x,
              ./images/hero-milk-desktop-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/hero-milk-tablet-1x.png 1x,
              ./images/hero-milk-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./images/hero-milk-tablet-1x.png" alt="milk" />
        </picture>
      </div>
    </div>
  </div>
</section> -->
