<section class="instagram-section">
  <div class="container">
    <img class="ellips6" src="./images/background/Ellipse16.png" />
    <img
      class="ellipsCircleSmallInsta"
      src="./images/background/EllipseCircle.png"
    />
    <img
      class="ellipsCircleSmallInsta2"
      src="./images/background/EllipseCircleSecond.png"
    />
    <h2 class="instagram__title">Instagram</h2>
    <!-- LightWidget WIDGET mob -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="//lightwidget.com/widgets/a513db4549835aab8c62c95aa9efc209.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget instagram_lightwidget-mob"
      style="width: 100%; border: 0; overflow: hidden"
    ></iframe>

    <!-- LightWidget WIDGET tablet -->

    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="//lightwidget.com/widgets/31f47c0e508e5f858d816e7a7b69b838.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget instagram_lightwidget-tab"
      style="width: 100%; border: 0; overflow: hidden"
    ></iframe>

    <!-- LightWidget WIDGET desktop -->
    <!-- LightWidget WIDGET -->
    <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    <iframe
      src="//lightwidget.com/widgets/670853b362e251f89a8c744a6e2c860c.html"
      scrolling="no"
      allowtransparency="true"
      class="lightwidget-widget instagram_lightwidget-desktop"
      style="width: 100%; border: 0; overflow: hidden"
    ></iframe>
  </div>
</section>
