<div class="container modal">
  <div class="modal-head">
    <button class="arrow arrow-back">
      <svg class="arrow-left-svg" width="10" height="25">
        <use href="./images/spryte.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <div class="header_menu">
      <a class="header-menu__item" href="#scrollToAboutMe">ПРО МЕНЕ</a>
      <a class="header-menu__item" href="#scrollToAdvantages">ПЕРЕВАГИ</a>
      <a class="header-menu__item" href="#scrollToServices">ПОСЛУГИ</a>
    </div>
    <p class="logo">OLYA LUTSO</p>
    <div class="header_menu">
      <a class="header-menu__item" href="#scrollToReviews">ВІДГУКИ</a>
      <a class="header-menu__item" href="#scrollToInstagram">INSTAGRAM</a>
      <a class="header-menu__item" href="#scrollToContacts">КОНТАКТИ</a>
    </div>
    <img class="ellips" src="./images/background/Ellipse16.png" />
    <div class="hamburger">
      <a href="#" class="menu-btn">
        <span></span>
      </a>
    </div>
  </div>

  <div class="swiper swiper-modal modal-swiper">
    <div class="swiper-wrapper swiper-wrapper-modal">
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />

              <h2 class="slide-title">
                <span class="number">01</span>
                <span class="sub-title">КОНСУЛЬТАЦІЯ</span>
                <div class="shadow-title">
                  <span class="number-2">01</span>
                  <span class="sub-title-2">КОНСУЛЬТАЦІЯ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>
            <p class="slide-underTitle">
              Формат - онлайн // Тривалість - 1 год
            </p>
            <h3 class="slide-knowledge">Які знання я отримаю?</h3>
            <ul class="slide-text">
              <li><p>тип фігури та корекційні методики</p></li>
              <li>
                <p>лінії зовнішності та що пасує саме Вам</p>
              </li>
              <li>
                <p>тканини, довжини та рекомендовані фасони одягу</p>
              </li>
              <li><p>який одяг додає об‘єм, а який робить стрункішим</p></li>
              <li><p>помилки на шляху до ідеального гардеробу</p></li>
              <li><p>аналіз мудборду</p></li>
              <li>
                <p>
                  відповіді на всі запитання, які виникнуть в процесі
                  консультації
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Зустрічаємося онлайн (Zoom), де я демонструю презентацію з
                рекомендаціями, прописаними індивідуально для Вас та відповідаю
                на всі запитання.
              </li>
              <li>
                Після завершення консультації Ви отримаєте файл з моїми
                рекомендаціями та знання, які стануть фундаментом роботи над
                власним стилем.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">02</span>
                <span class="sub-title">РОЗБІР ГАРДЕРОБУ</span>
                <div class="shadow-title">
                  <span class="number-2">02</span>
                  <span class="sub-title-2">РОЗБІР ГАРДЕРОБУ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат - онлайн/офлайн // Тривалість - залежить від обʼєму
              гардеробу
            </p>
            <!-- <p class="slide-underTitle">
              
            </p> -->
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li><p>рекомендації по типу фігури/лініях зовнішності</p></li>
              <li>
                <p>
                  функціональний гардероб, в якому всі речі працюють і є
                  елементами образів на різні випадки життя
                </p>
              </li>
              <li>
                <p>
                  розуміння фасонів, довжин, тканин, кольорів, які Вам пасують,
                  а яких краще уникати
                </p>
              </li>
              <li>
                <p>
                  шопінг-лист з позиціями, які потрібно докупити журнал образів
                  зі стильними комплектами під різні життєві обставини
                </p>
              </li>
              <li>
                <p>
                  заощадження коштів, купуючи тільки ті речі, яких дійсно бракує
                </p>
              </li>
              <li><p>онлайн-підтримка протягом 30 днів</p></li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Аналізую Ваші дані та стилістичні уподобання, уточнюю деталі,
                які потрібні для нашої роботи.
              </li>
              <li>
                Проводимо розбір гардеробу конкретного сезону (осінь-зима,
                весна-літо або згідно Вашого запиту).
              </li>
              <li>
                Сортуємо всі речі, включаючи взуття, аксесуари, верхній одяг.
              </li>
              <li>
                Формуємо стильні образи під різні життєві обставини з речами,
                які залишаємо в гардеробі.
              </li>
              <li>Організовуємо правильно гардеробний простір.</li>
              <li>
                Протягом 10 днів після розбору гардеробу Ви отримаєте файл з
                моїми рекомендаціями, шопінг-листом та сформованими образами.
              </li>
            </ol>
            <h3 class="slide-knowledge">2 формати «Розбору гардеробу»</h3>
            <p class="slide-underTitle">
              Основна відмінність полягає у фінальному шопінг-листі, який Ви
              отримуєте.
            </p>
            <p class="slide-underTitle">
              <span style="font-weight: 700">Варіант 1:</span> Візуалізація
              шопінг-листа. Це загальний шопінг-лист, без конкретних посилань на
              магазини одягу, тобто пошуком речей Ви займаєтесь самостійно
              згідно переліку, який я формую для Вас.
            </p>
            <p class="slide-underTitle">
              <span style="font-weight: 700">Варіант 2:</span> Шопінг-лист з
              активними посиланнями на магазини одягу. Я підбираю індивідуально
              під Ваш запит декілька варіантів кожної позиції одягу згідно
              шопінг-листа, сформованого на розборі гардеробу.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">03</span>
                <span class="sub-title">КАПСУЛЬНИЙ ГАРДЕРОБ</span>
                <div class="shadow-title">
                  <span class="number-2">03</span>
                  <span class="sub-title-2">КАПСУЛЬНИЙ ГАРДЕРОБ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат - онлайн // Готовність - 10 днів
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li><p>рекомендації по типу фігури/лініях зовнішності</p></li>
              <li>
                <p>
                  функціональну капсулу, в якій всі речі працюють і є елементами
                  ваших образів на різні випадки життя
                </p>
              </li>
              <li>
                <p>
                  фінальну презентацію з активними посиланнями на магазини
                  одягу, журналом образів та моїми рекомендаціями
                </p>
              </li>
              <li>
                <p>
                  заощадження коштів, купуючи правильний одяг, який пасує саме
                  Вам
                </p>
              </li>
              <li><p>онлайн-підтримка протягом 30 днів</p></li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Проводимо онлайн-зустріч, де я уточнюю деталі, які потрібні для
                нашої роботи.
              </li>
              <li>
                У визначений термін ви отримаєте файл-презентацію з моїми
                рекомендаціями, шопінг-листом та максимальною кількістю
                сформованих образів під різні життєві обставини.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">04</span>
                <span class="sub-title">подарунковий сертифікат</span>
                <div class="shadow-title">
                  <span class="number-2">04</span>
                  <span class="sub-title-2">подарунковий сертифікат</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Якщо Ви в пошуках унікального подарунку, то сертифікат на послуги
              персонального стиліста чудове рішення!
            </p>
            <h3 class="slide-knowledge">Чому?</h3>
            <ol class="slide-numeric">
              <li>
                Робота над стилем - це інвестиція в зовнішній вигляд, який
                характеризує людину без слів.
              </li>
              <li>
                Стиліст допоможе оптимізувати гардероб, зробити шопінг
                комфортним та зберегти нервові клітин в пошуках бажаних речей.
              </li>
              <li>
                В найближчому майбутньому кожна жінка матиме стиліста, який
                допоможе вирішити всі гардеробні проблеми, а хтось
                насолоджується перевагами вже зараз.
              </li>
            </ol>
            <p class="slide-underTitle">
              Твоя близька людина однозначно заслуговує на задоволення та
              комфорт, який дарують мої послуги.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">05</span>
                <span class="sub-title">шопінг-супровід</span>
                <div class="shadow-title">
                  <span class="number-2">05</span>
                  <span class="sub-title-2">шопінг-супровід</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат - онлайн/офлайн // Тривалість - за домовленістю
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li><p>рекомендації по типу фігури/лініях зовнішності</p></li>
              <li>
                <p>придбані позиції, яких не вистачає в гардеробі</p>
              </li>
              <li>
                <p>економію часу, який би провели в пошуках наодинці</p>
              </li>
              <li>
                <p>
                  розуміння фасонів, довжин, тканин, кольорів, які Вам пасують,
                  а яких краще уникати
                </p>
              </li>
              <li>
                <p>
                  заощадження коштів, купуючи тільки ті позиції, яких дійсно
                  бракує
                </p>
              </li>
              <li>
                <p>
                  онлайн-підтримка протягом 2 тижнів щодо позицій, які не
                  встигли придбати
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Проводимо онлайн-зустріч, де я уточнюю деталі, які потрібні для
                нашої роботи.
              </li>
              <li>
                Я складаю наш шопінг-маршрут і заздалегідь переглядаю позиції,
                які плануємо придбати.
              </li>
              <li>Відправляємося на шопінг (онлайн/офлайн).</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">06</span>
                <span class="sub-title">ПАКЕТ «МІЙ ІДЕАЛЬНИЙ ГАРДЕРОБ»</span>
                <div class="shadow-title">
                  <span class="number-2">06</span>
                  <span class="sub-title-2"
                    >ПАКЕТ «МІЙ ІДЕАЛЬНИЙ ГАРДЕРОБ»</span
                  >
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат - онлайн/офлайн // Готовність - 15 днів
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li>
                <p>
                  консультацію, тривалістю 1 год, де Ви зрозумієте власний тип
                  фігури, лінії зовнішності та дізнаєтесь, які речі Вам пасують
                </p>
              </li>
              <li>
                <p>розібраний гардероб, організований гардеробний простір</p>
              </li>
              <li>
                <p>
                  аналіз гардеробних потреб та визначення подальшого руху у
                  стилі
                </p>
              </li>
              <li>
                <p>
                  журнал образів з максимальною кількістю стильних комплектів
                  під різні життєві обставини
                </p>
              </li>
              <li>
                <p>
                  формули створення вдалих образів, лайфхаки та цікаві фішечки
                </p>
              </li>
              <li>
                <p>
                  функціональний гардероб, в якому всі речі працюють і є
                  елементами ваших образів
                </p>
              </li>
              <li>
                <p>онлайн-підтримку стиліста протягом 3 місяців</p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Проводимо зустріч-знайомство, де я уточнюю всі деталі, які
                потрібні для нашої роботи.
              </li>
              <li>
                Зустрічаємося на консультації у форматі онлайн (Zoom), де я
                демонструю презентацію з рекомендаціями, прописаними
                індивідуально для Вас та відповідаю на всі запитання.
              </li>
              <li>
                Проводимо розбір гардеробу на сезон (осінь-зима або весна-літо).
              </li>
              <li>
                Організовуємо гардеробний простір та комплектуємо образи з
                існуючими речами.
              </li>
              <li>Я формую шопінг-лист з речами, які потрібно докупити.</li>
              <li>
                Протягом 15 днів я надсилаю карту стилю, яка буде включати всі
                мої рекомендації, мудборд, шопінг-лист з активними посиланнями
                на магазини одягу, журнал образів та ще багато цікавого.
              </li>
            </ol>
            <p class="slide-underTitle">
              Це комплексна робота, результати якої змінять все Ваше гардеробне
              життя!
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">07</span>
                <span class="sub-title">СТИЛІЗАЦІЯ ЗЙОМКИ, БЕКСТЕЙДЖ</span>
                <div class="shadow-title">
                  <span class="number-2">07</span>
                  <span class="sub-title-2">СТИЛІЗАЦІЯ ЗЙОМКИ, БЕКСТЕЙДЖ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат – онлайн/офлайн // Готовність ~ 7 днів
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li>
                <p>
                  цікаві та стильні образи, в яких продумано все до дрібниць
                </p>
              </li>
              <li>
                <p>рекомендації по зачісці та мейку</p>
              </li>
              <li>
                <p>
                  образи, які відповідають завданню зйомки та гарно вписуються в
                  обрану локацію
                </p>
              </li>
              <li>
                <p>економію часу, який Ви б провели в пошуках наодинці</p>
              </li>
              <li><p>супровід стиліста під час зйомки</p></li>
              <li><p>фото в образах, які пасують Вам якнайкраще</p></li>
              <li>
                <p>зйомка стильного бекстейджу</p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Комунікуємо в зручному для Вас месенджері, де я уточняю деталі,
                які потрібні для нашої роботи.
              </li>
              <li>
                Протягом 7 днів я презентую стилізовані образи, даю свої
                рекомендації щодо зачіски та мейку.
              </li>
              <li>
                Зустрічаємося на зйомці, де я допомагаю з деталями і слідкую за
                тим, щоб Ви виглядали неперевершено.
              </li>
              <li>
                Допомагаю зафіксувати всю створену красу на відео - кажуть що
                бекстейджі в мене вогонь!
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">08</span>
                <span class="sub-title">ОБРАЗ НА ПОДІЮ</span>
                <div class="shadow-title">
                  <span class="number-2">08</span>
                  <span class="sub-title-2">ОБРАЗ НА ПОДІЮ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат – онлайн/офлайн // Готовність ~ 7 днів
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li>
                <p>
                  стильний та актуальний образ, в якому продумано все до
                  дрібниць
                </p>
              </li>
              <li>
                <p>рекомендації по зачісці та мейку</p>
              </li>
              <li>
                <p>образ, який відповідає дрес-коду та Вашим бажанням</p>
              </li>
              <li>
                <p>економію часу, який Ви б провели в пошуках наодинці</p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Комунікуємо в зручному для Вас месенджері, де я уточняю деталі,
                які потрібні для нашої роботи.
              </li>
              <li>
                Протягом 7 днів я надсилаю Вам файл із запропонованим образом на
                подію, посиланнями, де придбати все необхідне та моїми
                рекомендаціями щодо деталей образу.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">09</span>
                <span class="sub-title">СТИЛІСТ ОНЛАЙН</span>
                <div class="shadow-title">
                  <span class="number-2">09</span>
                  <span class="sub-title-2">СТИЛІСТ ОНЛАЙН</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Формат – онлайн // Тривалість – 1 місяць
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li>
                <p>
                  онлайн підтримку стиліста протягом місяця у форматі «Питання –
                  Лаконічна відповідь» у зручному для Вас месенджері щодо
                  обраних позицій та складених комбінацій
                </p>
              </li>
              <li>
                <p>поради експерта індивідуально під Ваш запит</p>
              </li>
              <li>
                <p>
                  економію коштів, уникаючи імпульсивних покупок, які Вам не
                  потрібні
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Що не входить в цю послугу?</h3>
            <ol class="slide-numeric">
              <li>
                Об’ємні консультації щодо типу фігури та ліній зовнішності.
              </li>
              <li>Шопінг-супровід онлайн протягом тривалого часу.</li>
              <li>Пошук альтернатив обраних Вами позицій.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">10</span>
                <span class="sub-title">ОНОВЛЕННЯ ГАРДЕРОБУ</span>
                <div class="shadow-title">
                  <span class="number-2">10</span>
                  <span class="sub-title-2">ОНОВЛЕННЯ ГАРДЕРОБУ</span>
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">
              Для постійних клієнтів // Формат – онлайн // Готовність - 10 днів
            </p>
            <h3 class="slide-knowledge">Що я отримаю?</h3>
            <ul class="slide-text">
              <li>
                <p>шопінг-лист з активними посиланнями на магазини одягу</p>
              </li>
              <li>
                <p>
                  рекомендації щодо цікавих поєднань - нові стильні комплекти на
                  різні випадки життя
                </p>
              </li>
              <li>
                <p>
                  заощадження коштів, купуючи тільки ті позиції, які чудово
                  впишуться у Ваш гардероб
                </p>
              </li>
              <li><p>онлайн-підтримка протягом 30 днів</p></li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>Спілкуємося, щоб визначити Ваш запит, чого хочеться.</li>
              <li>
                Я аналізую гардероб, враховуючи всі речі, які були придбані
                самостійно.
              </li>
              <li>Виявляю гардеробні потреби згідно Вашого запиту.</li>
              <li>Формую шопінг-лист на сезон (осінь-зима або весна-літо).</li>
              <li>
                Прописую рекомендації по формуванню нових стильних образів з
                речами наявними в гардеробі + позиціями з шопінг-листа.
              </li>
              <li>
                Протягом 10 днів Ви отримаєте файл з шопінг-листом з активними
                посиланнями на магазини та моїми рекомендаціями стосовно
                образів.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-modal">
        <div class="slider-content">
          <div class="sli-cont">
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <img style="height: 40px" src="./images/modalArrowLeft.png" />
              <h2 class="slide-title">
                <span class="number">11</span>
                <span class="sub-title"
                  >ПОСЛУГИ ДЛЯ БРЕНДІВ ТА МАГАЗИНІВ ОДЯГУ</span
                >
                <div class="shadow-title">
                  <span class="number-2">11</span>
                  <span class="sub-title-2"
                    >ПОСЛУГИ ДЛЯ БРЕНДІВ ТА МАГАЗИНІВ ОДЯГУ</span
                  >
                </div>
              </h2>
              <img style="height: 40px" src="./images/modalArrowRight.png" />
            </div>

            <p class="slide-underTitle">Формат – онлайн/офлайн</p>
            <p class="slide-underTitle">
              Всі провідні бренди активно користуються послугами стилістів для
              кращого просування своєї продукції. Важливо правильно презентувати
              товар, допомогти клієнту зрозуміти з чим носити/як підбирати/чому
              надавати перевагу - це комплексна робота, яка дає класний
              результат.
            </p>
            <h3 class="slide-knowledge">Основні послуги:</h3>
            <ul class="slide-text">
              <li><p>огляд асортименту (фото/відео контент)</p></li>
              <li>
                <p>комплектація образів</p>
              </li>
              <li>
                <p>стилізація та супровід під час зйомки</p>
              </li>
              <li><p>створення креативного відео</p></li>
              <li><p>консультація клієнтів</p></li>
              <li><p>ведення експертних рубрик в сторіс/прямих ефірах</p></li>
              <li>
                <p>рекомендації щодо позиціонування продукції</p>
              </li>
            </ul>
            <p class="slide-underTitle">
              Пропоную поспілкуватися і згідно Вашого індивідуального запиту,
              запропоную послугу, яка буде найбільш ефективною для Вашого
              бренду.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="next"></div>
  <div class="prev"></div>
  <include src="./partials/form.html" class="modal-form"></include>
  <include src="./partials/footer.html"></include>
</div>
