<div class="container modal">
  <div class="modal-head">
    <button class="arrow">
      <svg class="arrow-left-svg" width="10" height="25">
        <use href="./images/spryte.svg#icon-arrow-left"></use>
      </svg>
    </button>

    <div class="hamburger">
      <a href="#" class="menu-btn">
        <span></span>
      </a>
    </div>
  </div>

  <div class="swiper modal-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider-content">
          <div>
            <h2 class="slide-title">
              <span class="number">01</span>
              КОНСУЛЬТАЦІЯ
            </h2>
            <p class="slide-underTitle">
              Формат - онлайн // Тривалість - 1 год
            </p>
            <h3 class="slide-knowledge">Які знання я отримаю?</h3>
            <ul class="slide-text">
              <li><p>тип фігури та корекційні методики</p></li>
              <li>
                <p>лінії зовнішності та що пасує саме Вам</p>
              </li>
              <li>
                <p>тканини, довжини та рекомендовані фасони одягу</p>
              </li>
              <li><p>який одяг додає об‘єм, а який робить стрункішим</p></li>
              <li><p>помилки на шляху до ідеального гардеробу</p></li>
              <li><p>аналіз мудборду</p></li>
              <li>
                <p>
                  відповіді на всі запитання, які виникнуть в процесі
                  консультації
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Зустрічаємося онлайн (Zoom), де я демонструю презентацію з
                рекомендаціями, прописаними індивідуально для Вас та відповідаю
                на всі запитання.
              </li>
              <li>
                Після завершення консультації Ви отримаєте файл з моїми
                рекомендаціями та знання, які стануть фундаментом роботи над
                власним стилем.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-content">
          <div>
            <h2 class="slide-title">
              <span class="number">01</span>
              КОНСУЛЬТАЦІЯ
            </h2>
            <p class="slide-underTitle">
              Формат - онлайн // Тривалість - 1 год
            </p>
            <h3 class="slide-knowledge">Які знання я отримаю?</h3>
            <ul class="slide-text">
              <li><p>тип фігури та корекційні методики</p></li>
              <li>
                <p>лінії зовнішності та що пасує саме Вам</p>
              </li>
              <li>
                <p>тканини, довжини та рекомендовані фасони одягу</p>
              </li>
              <li><p>який одяг додає об‘єм, а який робить стрункішим</p></li>
              <li><p>помилки на шляху до ідеального гардеробу</p></li>
              <li><p>аналіз мудборду</p></li>
              <li>
                <p>
                  відповіді на всі запитання, які виникнуть в процесі
                  консультації
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Зустрічаємося онлайн (Zoom), де я демонструю презентацію з
                рекомендаціями, прописаними індивідуально для Вас та відповідаю
                на всі запитання.
              </li>
              <li>
                Після завершення консультації Ви отримаєте файл з моїми
                рекомендаціями та знання, які стануть фундаментом роботи над
                власним стилем.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slider-content">
          <div>
            <h2 class="slide-title">
              <span class="number">01</span>
              КОНСУЛЬТАЦІЯ
            </h2>
            <p class="slide-underTitle">
              Формат - онлайн // Тривалість - 1 год
            </p>
            <h3 class="slide-knowledge">Які знання я отримаю?</h3>
            <ul class="slide-text">
              <li><p>тип фігури та корекційні методики</p></li>
              <li>
                <p>лінії зовнішності та що пасує саме Вам</p>
              </li>
              <li>
                <p>тканини, довжини та рекомендовані фасони одягу</p>
              </li>
              <li><p>який одяг додає об‘єм, а який робить стрункішим</p></li>
              <li><p>помилки на шляху до ідеального гардеробу</p></li>
              <li><p>аналіз мудборду</p></li>
              <li>
                <p>
                  відповіді на всі запитання, які виникнуть в процесі
                  консультації
                </p>
              </li>
            </ul>
            <h3 class="slide-knowledge">Як все проходить?</h3>
            <ol class="slide-numeric">
              <li>
                Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися
                ближче і я краще зрозуміла Ваш запит.
              </li>
              <li>
                Зустрічаємося онлайн (Zoom), де я демонструю презентацію з
                рекомендаціями, прописаними індивідуально для Вас та відповідаю
                на всі запитання.
              </li>
              <li>
                Після завершення консультації Ви отримаєте файл з моїми
                рекомендаціями та знання, які стануть фундаментом роботи над
                власним стилем.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination"></div>
  </div>

  <div class="next"></div>
  <div class="prev"></div>
  <include src="./partials/form.html"></include>
  <include src="./partials/footer.html"></include>
</div>
