<div class="modal">
  <div class="modal-head">
    <a href="#" class="arrow">
      <svg class="arrow-left-svg" width="10" height="25">
        <use href="./images/spryte.svg#icon-arrow-left"></use>
      </svg>
    </a>

    <div class="hamburger">
      <a href="#" class="menu-btn">
        <span></span>
      </a>
    </div>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="slider-content">
          <h2 class="slide-title">
            <span class="number">01</span>
            КОНСУЛЬТАЦІЯ
          </h2>
          <p class="slide-underTitle">Формат - онлайн // Тривалість - 1 год</p>
          <h3 class="slide-knowledge">Які знання я отримаю?</h3>
          <p class="slide-text">
            тип фігури та корекційні методики лінії зовнішності та що пасує саме
            Вам тканини, довжини та рекомендовані фасони одягу який одяг додає
            об‘єм, а який робить стрункішим помилки на шляху до ідеального
            гардеробу аналіз мудборду відповіді на всі запитання, які виникнуть
            в процесі консультації
          </p>
          <h3 class="slide-knowledge">Як все проходить?</h3>
          <p class="slide-text">
            Я надсилаю анкету, яку Ви заповнюєте, щоб ми познайомилися ближче і
            я краще зрозуміла Ваш запит. Зустрічаємося онлайн (Zoom), де я
            демонструю презентацію з рекомендаціями, прописаними індивідуально
            для Вас та відповідаю на всі запитання. Після завершення
            консультації Ви отримаєте файл з моїми рекомендаціями та знання, які
            стануть фундаментом роботи над власним стилем.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
