<!-- <button class="btn" id="open_pop_up">зв’яжіться зі мною</button>
<div class="pop_up" id="pop_up">
  <div>
    <a href="#333">
      <img id="close_pop_up" class="cross-img" src="./images/закрыть.svg" />
    </a>
  </div>
  <div class="thx-text-container">
    <p class="header-thx">Дякую!</p>
    <p class="thx-text">Мені приємно, що Ви цікавитесь моїми послугами.</p>
    <p class="thx-text">
      Найближчим часом я зв‘яжусь з Вами в обраному месенджері за номером
    </p>
    <p class="thx-number">+380981234567</p>

    <button class="thx-btn" id="perHead">
      <a href="#headerScroll">на головну</a>
    </button>
  </div>
</div> -->
