<h2 class="hidden">Відгуки</h2>
<section id="scrollToReviews" class="service-rev sectionHidden">
  <img class="ellips5" src="./images/background/Ellipse16.png" />
  <img class="ellipsCircleRev" src="./images/background/EllipseCircle.png" />
  <img
    class="ellipsCircleRev2"
    src="./images/background/EllipseCircleSecond.png"
  />
  <img class="ellipsCircleOff" src="./images/background/EllipseCircle.png" />
  <img
    class="ellipsCircleOff2"
    src="./images/background/EllipseCircleSecond.png"
  />
<section id="scrollToReviews" class="service-rev sectionHidden">
  <div class="container">
    <div class="nav__buttons--next">
      <div class="review--prev">
        <svg class="arrow__left--phone" width="20" height="30">
          <use href="./images/spryte.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
    <div class="nav__buttons--prev">
      <div class="review--prev">
        <svg class="arrow__right--phone" width="20" height="30">
          <use href="./images/spryte.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
    <div class="nav__buttons--next">
      <div class="review--prev">
        <svg class="arrow__left--phone" width="20" height="30">
          <use href="./images/spryte.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
    <div class="reviews__titleBlock">
      <h2 class="review__title">Відгуки</h2>
      <svg class="arrow-left--reviews" width="40" height="40">
        <use
          href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
        ></use>
      </svg>
      <svg class="arrow-right--reviews" width="40" height="40">
        <use
          href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
        ></use>
      </svg>
    </div>
    <div class="swiper reviewsSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="service__tab--wrapper">
                <div class="pictureFlex">
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review1-min.jpg    1x,
                        ./assets/images/reviewsSection/review1-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review1-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review1-2-min.jpg    1x,
                        ./assets/images/reviewsSection/review1-2-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review1-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                </div>
                <p class="reviews__text">
                  Привіт! Все переглянула, дуже сподобалось❤️ Оля, ти крута!
                  Дуже приємний спогад, від зустрічі з тобою!❤️
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="flex__reverse">
                <div class="pictureFlex">
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review2-2-min.jpg 1x,
                        ./assets/images/reviewsSection/review3-1-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review2-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review2-2-min.jpg    1x,
                        ./assets/images/reviewsSection/review2-2-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review2-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                </div>

                <p class="reviews__text">
                  Привіт! Хотіла б поділитися з тобою своїм відгуком про наш
                  останнiй розбір з капсулою😁 Ольчик, ти справжній професіонал
                  своєї справи, і це видно вiд презентації і i опису твоїх
                  послуг, і до завершення і передачі результатів роботи. Все
                  чітко, ясно, зрозуміло. Ти врахувала Всі мої побажання!🤩🥰🥰
                  I пiсля завершення капсули консультуєш по позиціям, пояснюеш
                  все, і це дуже цiнно!😍😍😍 Що я можу сказати, до наступного
                  сезону!!!!😊
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="pictureFlex">
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review3-1-min.jpg    1x,
                      ./assets/images/reviewsSection/review3-1-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review3-1-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review3-2-min.jpg    1x,
                      ./assets/images/reviewsSection/review3-2-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review3-2-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
              </div>

              <p class="reviews__text">
                Хочу сказати, що ти дуже приємна i світла людина! Чесно, думала
                чи доречно зараз дозволяти собі послуги стиліста, але після
                нашоï роботи переконалася, що це було 100% правильним рiшенням!
                Чекай мене наступного сезону!🥰 Одяг вже передала тим, хто цього
                потребує🙌
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="flex__reverse">
                <div class="pictureFlex">
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review4-1-min.jpg    1x,
                        ./assets/images/reviewsSection/review4-1-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review4-1-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review4-2-min.jpg    1x,
                        ./assets/images/reviewsSection/review4-2-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review4-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                </div>
                <p class="reviews__text">
                  Привіт) Дуже задоволена що наважилася скористатися твоїми
                  послугами стиліста) Знаю, для когось це марнотратство, але це
                  - навпаки. Я мала дуже багато старих та нових речей, які
                  просто не знала з чим поєднувати. Менi не вистачало
                  сміливості, і знань того що саме мені пасуе. Як я вже казала,
                  ти зберегла мiй сімейний бюджет😉 Адже я могла на емоціях
                  купити якийсь одяг, а потім воно лежало в шафі. Також
                  зрозуміла що моему гардеробу не вистачае самих звичайних,
                  базових, але таких важливих речей. Дякую тобі ще раз! Це наша
                  точно не остання зустрiч, я вже знаю яку наступну послугу
                  оберу❤️
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="pictureFlex">
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review5-1-min.jpg    1x,
                      ./assets/images/reviewsSection/review5-1-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review5-1-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review5-2-min.jpg    1x,
                      ./assets/images/reviewsSection/review5-2-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review5-2-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
              </div>
              <p class="reviews__text">
                Досі перебираю в голові комбінації свого гардеробу, які тепер
                запрацюють набагато краще🤗 Дуже крута консультація! Я так
                структуровано розумію тепер, як підбирати собі одяг. Вже уявляю,
                наскільки це спростить менi життя і час на покупки😅
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="flex__reverse">
                <div class="pictureFlex">
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review6-1-min.jpg    1x,
                        ./assets/images/reviewsSection/review6-1-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review6-1-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review6-2-min.jpg    1x,
                        ./assets/images/reviewsSection/review6-2-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review6-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                </div>
                <p class="reviews__text">
                  Привіт, Олю😊 Дуже дякую тобі за такий неймовірний розбір🙏🏻
                  Мені все дуже-дуже сподобалося, це саме те, що я хотіла🥰 Тому
                  будемо співпрацювати й далі, тут ось скоро вже осінь-зима
                  наближається😂 Я дуже рада, що натрапила саме на твою сторінку
                  в інстаграмі💙💛
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="pictureFlex">
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review7-1-min.jpg    1x,
                      ./assets/images/reviewsSection/review7-1-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review7-1-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review7-2-min.jpg    1x,
                      ./assets/images/reviewsSection/review7-2-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review7-2-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo"
                  />
                </picture>
              </div>
              <p class="reviews__text">
                Оля, ти крута! І дуже якісно виконуєш роботу☺️ Люблю, коли так
                відносяться до своеï справи❤️ До речі, я позавчора і вчора
                отримала купу компліментів з приводу одягу/стилю😍
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="flex__reverse">
                <div class="pictureFlex">
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review8-1-min.jpg    1x,
                        ./assets/images/reviewsSection/review8-1-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review8-1-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                  <picture>
                    <source
                      srcset="
                        ./assets/images/reviewsSection/review8-2-min.jpg    1x,
                        ./assets/images/reviewsSection/review8-2-2x-min.jpg 2x
                      "
                      media="(min-width: 0px)"
                    />

                    <img
                      src="./assets/images/reviewsSection/review8-2-min.jpg"
                      alt="Комплект одягу"
                      class="review__photo"
                    />
                  </picture>
                </div>
                <p class="reviews__text">
                  Да, все добре) Я якраз хотіла на днях написати тобі. Я купила
                  вже деякі речі з капсули і я супер задоволна!!! Все
                  комбінується між собою і займає небагато місця. Якраз те що
                  треба! Ну і виглядає супер круто😎 Такшо ще раз дякую тоб
                  Ольчик, ти профі Сьогоднi завтра перегляну і переслухаю те що
                  ти надіслала додатково😍
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="service__block_rev">
            <div>
              <div class="pictureFlex">
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review9-1-min.jpg    1x,
                      ./assets/images/reviewsSection/review9-1-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review9-1-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo-9-1"
                  />
                </picture>
                <picture>
                  <source
                    srcset="
                      ./assets/images/reviewsSection/review9-2-min.jpg    1x,
                      ./assets/images/reviewsSection/review9-2-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />

                  <img
                    src="./assets/images/reviewsSection/review9-2-min.jpg"
                    alt="Комплект одягу"
                    class="review__photo-9-2"
                  />
                </picture>
              </div>
              <p class="reviews__text">
                В суботу їду за покупками😁 Дякую тобі за розбір гардеробу,
                тепер не потрібно пів години стояти та думати що одягнути,
                відкриваєш фото вибираєш що сьогодні тобі подобається і все.
                Море економії часу, а також впевненості що ці речі точно
                підходять одна одній❤️❤️❤️ В нових образах відчуваєш себе більш
                впевно😁😍
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pag"></div>
    </div>
    <div class="reviews__next"></div>
    <div class="reviews__prev"></div>
  </div>
</section>
