<section id="home" class="service">
  <!-- <div class="circleOne"></div>
  <div class="circleTwo"></div>
  <div class="circleThree"></div>
  <div class="circleFour"></div> -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="service__block">
          <h2 class="service__title">Послуги</h2>
          <picture>
            <source
              srcset="
                ./assets/images/serviceSection/Services-desc-1x-min.jpg 1x,
                ./assets/images/serviceSection/Services-desc-2x-min.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./assets/images/serviceSection/Services-tab-1x-min.jpg 1x,
                ./assets/images/serviceSection/Services-tab-2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./assets/images/serviceSection/Services-mob-1x-min.jpg 1x,
                ./assets/images/serviceSection/Services-mob-2x-min.jpg 2x
              "
              media="(min-width: 0px)"
            />
            <img
              src="./assets/images/serviceSection/Services-mob-1x-min.jpg "
              alt="Сумочка"
            />
          </picture>
          <h3 class="service__category">1 Консультація</h3>
          <p class="service__text">
            Ви хочете зрозуміти власний тип фігури та лінії зовнішності?
            Навчитися обирати одяг, який пасує саме Вам? Отримати відповіді на
            всі запитання, що стосуються стилю?
          </p>
          <button>ДІЗНАТИСЬ БІЛЬШЕ</button>
        </div>
      </div>
      <div class="swiper-slide">asd</div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
