<section id="home" class="service">
  <div class="service__titleBlock--desc">
    <h2 class="service__title">Послуги</h2>
    <svg class="arrow-left" width="40" height="40">
      <use
        href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
      ></use>
    </svg>
    <svg class="arrow-right" width="40" height="40">
      <use
        href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
      ></use>
    </svg>
  </div>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">01</span>
            <div>
              <div class="service__tab--wrapper">
                <picture>
                  <source
                    srcset="
                      ./assets/images/serviceSection/Services-desc-1x-min.jpg 1x,
                      ./assets/images/serviceSection/Services-desc-2x-min.jpg 2x
                    "
                    media="(min-width: 1200px)"
                  />
                  <source
                    srcset="
                      ./assets/images/serviceSection/Services-tab-1x-min.jpg 1x,
                      ./assets/images/serviceSection/Services-tab-2x-min.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./assets/images/serviceSection/Services-mob-1x-min.jpg 1x,
                      ./assets/images/serviceSection/Services-mob-2x-min.jpg 2x
                    "
                    media="(min-width: 0px)"
                  />
                  <img
                    src="./assets/images/serviceSection/Services-mob-1x-min.jpg "
                    alt="Сумочка"
                    class="service__photo"
                  />
                </picture>
                <h3 class="service__category">
                  <span class="service__category--number">1</span> Консультація
                </h3>
                <p class="service__text">
                  Ви хочете зрозуміти власний тип фігури та лінії зовнішності?
                  Навчитися обирати одяг, який пасує саме Вам? Отримати
                  відповіді на всі запитання, що стосуються стилю?
                </p>
                <button id="1" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">02</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide-2-mob/services2-tab-1x-min.jpg 1x,
                    ./assets/images/serviceSection/slide-2-mob/services2-tab-2x-min.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./assets/images/serviceSection/slide-2-mob/services2-mob-1x-min-min.jpg 1x,
                    ./assets/images/serviceSection/slide-2-mob/services2-mob-2x-min-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide-2-mob/services2-mob-1x-min-min.jpg "
                  alt="Шафа"
                  class="secondImage"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">2</span> Розбір
                гардеробу
              </h3>
              <p class="service__text">
                Життя змінюється, а гардероб стоїть на місці? Пропоную позбутися
                одягу, який не працює і насолоджуватися новоствореними стильними
                комбінаціями щодня.
              </p>
              <button id="2" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">03</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide3-1x-min.jpg 1x,
                    ./assets/images/serviceSection/slide3-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide3-1x-min.jpg"
                  alt="Капсульний гардероб"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">3</span> Капсульний
                гардероб
              </h3>
              <p class="service__text">
                Хочете мати невелику кількість речей, яка формується в багато
                стильних образів? Бажаєте сформувати функціональну капсулу на
                сезон, яка вміщує взуття, верхній одяг та аксесуари?
              </p>
              <button id="3" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">04</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide4-1x.png 1x,
                    ./assets/images/serviceSection/slide4-1x.png 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide4-1x.png"
                  alt="Подарунковий сертифікат"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">4</span> Подарунковий
                сертифікат
              </h3>
              <p class="service__text">
                Оригінальний подарунок, який приємно здивує. Якщо Ви в пошуках
                унікального подарунку, то сертифікат на послуги персонального
                стиліста чудове рішення!
              </p>
              <button id="4" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">05</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide5-min.jpg    1x,
                    ./assets/images/serviceSection/slide5-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide5-min.jpg"
                  alt="Шопінг-супровід"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">5</span> Шопінг-супровід
              </h3>
              <p class="service__text">
                У Вас є перелік позицій, яких бракує, але важко обрати актуальні
                моделі, які будуть гарно сидіти? Ви губитесь серед широкого
                асортименту і не знаєте на що звертати увагу?
              </p>
              <button id="5" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">06</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide6-min.jpg    1x,
                    ./assets/images/serviceSection/slide6-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide6-min.jpg"
                  alt="Пакет «Мій ідеальний гардероб»"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">6</span> Пакет «Мій
                ідеальний гардероб»
              </h3>
              <p class="service__text">
                Бажаєте попрацювати комплексно і зрозуміти як це мати
                персонального стиліста? Не знаєте як обрати з переліку всіх
                послуг саме ту, яка потрібна Вам? Хочеться кардинальних змін?
              </p>
              <button id="6" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">07</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide7-min.jpg     1x,
                    ./assets/images/serviceSection/sllide7-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide7-min.jpg"
                  alt="Стилізація зйомки плюс бекстейдж"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">7</span> Стилізація
                зйомки + бекстейдж
              </h3>
              <p class="service__text">
                Образ, продуманий до дрібниць, що буде відповідати характеру
                зйомки та Вашим побажанням. Отримайте ще більше задоволення від
                процесу.
              </p>
              <button id="7" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">08</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide8-min.jpg    1x,
                    ./assets/images/serviceSection/slide8-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide8-min.jpg"
                  alt="Образ на подію"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">8</span> Образ на подію
              </h3>
              <p class="service__text">
                Не знаєте що одягнути на важливу подію? Який образ підібрати,
                щоб виглядати стильно? Яке взуття та аксесуари обрати? Яку
                зачіску та макіяж зробити?
              </p>
              <button id="8" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">09</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide9-min.jpg    1x,
                    ./assets/images/serviceSection/slide9-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide9-min.jpg"
                  alt="Стиліст онлайн"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">9</span> Стиліст онлайн
              </h3>
              <p class="service__text">
                Хочеться поради експерта, щоб покупка була обдуманою і
                потрібною? Сумніваєтесь яку річ варто обрати? Не впевнені, чи
                складений образ виглядає актуально, чи пасують вам речі?
              </p>
              <button id="9" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--tab">
            <h2 class="service__title">Послуги</h2>
            <svg class="arrow-left" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
            <svg class="arrow-right" width="40" height="40">
              <use
                href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
              ></use>
            </svg>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">10</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide10-min.jpg    1x,
                    ./assets/images/serviceSection/slide10-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide10-min.jpg"
                  alt="Оновлення гардеробу"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">10</span> Оновлення
                гардеробу
              </h3>
              <p class="service__text">
                Ми вже розбирали з Вами гардероб минулого сезону і у Вас виникло
                бажання освіжити його, створити нові комплекти? Хочеться додати
                трендів, та не знаєте, яких саме?
              </p>
              <button id="10" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="service__block">
          <div class="service__titleBlock--desc">
            <div class="service__titleBlock--tab">
              <h2 class="service__title">Послуги</h2>
              <svg class="arrow-left" width="40" height="40">
                <use
                  href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
                ></use>
              </svg>
              <svg class="arrow-right" width="40" height="40">
                <use
                  href="./images/spryte.svg#icon-iconmonstr-arrow-down-circle-thin"
                ></use>
              </svg>
            </div>
          </div>
          <div class="service__tab--flex">
            <span class="service__slide--number">11</span>
            <div>
              <picture>
                <source
                  srcset="
                    ./assets/images/serviceSection/slide11-min.jpg    1x,
                    ./assets/images/serviceSection/slide11-2x-min.jpg 2x
                  "
                  media="(min-width: 0px)"
                />
                <img
                  src="./assets/images/serviceSection/slide11-min.jpg"
                  alt="Послуги для брендів та магазинів одягу"
                  class="service__photo"
                />
              </picture>
              <h3 class="service__category">
                <span class="service__category--number">11</span> Послуги для
                брендів та магазинів одягу
              </h3>
              <p class="service__text">
                Подбайте про своїх клієнтів та про позиціонування власного
                продукту - будьте попереду конкурентів.
              </p>
              <button id="11" class="service__button">ДІЗНАТИСЬ БІЛЬШЕ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</section>
