<section id="home" class="home">
  <div class="home__bcg--img">
    <div class="blur">
      <div class="home__container">
        <h2 class="visually-hidden">Home</h2>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="home__container--text">
                <p class="home__text">
                  Чи зтикались ви коли-небудь граючи в азартні ігри з тим, що як
                  би ви не грали, ви завжди програєте? Так, майданчики азартних
                  ігор не зацікавлені у вашій перемозі, а отже ви з ними
                  конкуренти. Тому, ми вирішили створити нову децентралізовану
                  платформу для азартних ігор, де гравці грають одне з одним і
                  мають шанс для перемоги 50/50. В цей же час, наша платформа
                  зацікавлена у вашій перемозі, тому що отримує прибуток на
                  комісіях лише з переможних ставок.
                </p>
                <p class="home__text">
                  Наше стратегічне бачення - індустрія азартних ігор стане
                  неодмінно децентралізованою протягом наступних 10 років і ми
                  прагнемо завоювати свою міцну позицію у цій нововиявленій
                  ніші. Так як все старе уходить і замінюється новим, ми
                  вирішили не відставати від трендів. Тому, наші ігри будуть
                  прив’язані до NFT і пропонуватимуть користувачам пасивний
                  заробіток у сфері De-Fi.
                </p>
                <p class="home__text">
                  SAMDOO - це буде децентралізована платформа, яка діятиме на
                  блокчейні BSC без реєстрації, а лише через підключення
                  крипто-гаманця (Метамаск, Трастволет, Волетконнект). З часом
                  ми будемо розробляти рішення для підключення нових блокчейнів,
                  щоб охопити більшу аудиторії та використовувати бенефіти
                  кожної із них.
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="home__container--text">
                <p class="home__text">
                  NFT - аукціон карток з героями На початку ми випустимо 1000
                  НФТ-карточок із зображенням героїв і будемо щотижня добавляти
                  нових. Їх особливистю буде те, що вони матимуть 2 кольори і
                  скіли (ловкость, сила, інтелект). Ці характеристики будуть
                  відноситись до героїв, які там будуть зображені. Ці картки з
                  героями будуть брати участь у наших іграх, а їхні
                  характеристики впливати на дохід. Герої матимуть рівні і їх
                  можна буде прокачувати, тобто, збільшити якісні
                  характеристики.
                </p>
                <p class="home__text">
                  NFT-маркетплейс Тут матимуть можливість добавляти і продавати
                  НФТ всі бажаючі. Ці карточки не будуть брати участь в іграх.
                  Ми хочемо, щоб НФТ-маркет плейс був і корисним для
                  представників творчості. SAMDOO планує залучати молодих митців
                  для продажу власних цифрових робіт і цим забезпечити якісним
                  продуктом нашу платформу.
                </p>
                <p class="home__text">
                  Мінтінг НФТ-карточок Ще однією перевагою наших НФТ карточок є
                  можливість їх стейкати і вони будуть видобувати наші монети.
                  Рівень героя впливатиме на дохідність видобутку. Якщо герой
                  має більше ніж 100 пунктів по всіх якісним характеристикам, то
                  він матиме бонус до хешрейту. Герої ділитимуться на першому
                  рівні на силача, ловкача та інтелектуала і їхня головна
                  характеристика буде більше 50 пунктів.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</section>
