// .container {
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin-left: auto;
//     margin-right: auto;

//     @media screen and (min-width: 480px) {
//         width: 480px;
//         padding-left: 20px;
//         padding-right: 20px;
//     }

//     @media screen and (min-width: 768px) {
//         width: 700px;
//     }

//     @media screen and (min-width: 1280px) {
//         width: 1047px;
//     }
// }
.container {
  padding-right: 47px;
  padding-left: 48px;
  @media screen and (min-width: 768px) {
    padding-right: 84px;
    padding-left: 84px;
  }
  @media screen and (min-width: 1240px) {
    padding-right: 162px;
    padding-left: 162px;
  }
}
