.aboutMe {
    display: flex;
    justify-content: center;
}

.aboutMe__overlay {
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background: url(../images/aboutMe/aboutMe-overlay-mob.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        // background: url(../images/overlay_tablet.png);
        // background-image: url(../images/Ellipse21.png);
        // background-image: url(../images/Ellipse20.png);

    }

    @media screen and (min-width: 768px) {
    background: url(../images/aboutMe/aboutMe-overlay-tablet.png);
        width: 100%;
        background-repeat: no-repeat;
        // background-position: top;
        background-size: cover;
    }

    @media screen and (min-width: 1024px) {
        width: 100%;
        background-repeat: no-repeat;
        // background-position: bottom;
        background-size: cover;
    background: url(../images/aboutMe/aboutMe-overlay-desktop.png);
        // background-image: url(../images/about-bg-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            // background-image: url(../images/about-bg-desktop-2x.png);
        }
    }
}


.aboutMe__title {
    font-family: 'Agreverance';
        font-style: normal;
        font-weight: 400;
font-size: 30px;
    line-height: 30px;
        /* identical to box height, or 100% */
    
        letter-spacing: 0.05em;
    
        /* text */
    
        color: #FFFFFF;
        margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
            line-height: 40px;
        }
        
}
.aboutMe__flex {
    display: flex;
justify-content: space-between;
margin-bottom: 32px;
}

.aboutMe__picture-1 {
    margin-right: 5px;
}

.aboutMe__picture-2 {
    border-radius: 0px 60px 0px 0px;
}

.aboutMe__text {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        /* or 177% */
    
    
        /* text */
    
        color: #FFFFFF;
    
        opacity: 0.8;
        @media screen and (min-width: 1024px) {
                font-size: 11px;
                line-height: 22px;
            }
        @media screen and (min-width: 1440px) {
                font-size: 15px;
            }
}

.aboutMe__text:not(:first-child) {
    margin-bottom: 0px;
    @media screen and (min-width: 1024px) {
            margin-bottom: 0px;
        }
                @media screen and (min-width: 1440px) {
                    margin-bottom: 0px;
                }
}

.aboutMe__text:not(:last-child) {
margin-bottom: 10px;
@media screen and (min-width: 768px) {
        margin-bottom: 10px;
    }
    @media screen and (min-width: 1024px) {
        margin-bottom: 3px;
    }
         @media screen and (min-width: 1440px) {
             margin-bottom: 23px;
         }
       
}

.aboutMe__flex-desktop { 
    @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row-reverse;;
        }
    
    
}
.aboutMe__text-container {
   
    @media screen and (min-width: 1024px) {
        width: 440px;
        margin-right: 40px;
        }

                @media screen and (min-width: 1440px) {
                    width: 510px;
                    margin-right: 40px;
                }

               
}