.footer {
    padding-top: 50px;
    padding-bottom: 50px;
} 
.footer__nav-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    margin-bottom: 43px;
    @media screen and (min-width: 1024px) {
    
            display: flex;
        }
}
    
.footer__nav-link {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        /* identical to box height, or 177% */
    
    
        /* text */
    
        color: #FFFFFF;
        @media screen and (min-width: 768px) {
            font-size: 12px;
            }
                        @media screen and (min-width: 1024px) {
                            font-size: 11px;

@media screen and (min-width: 1240px) {
        font-size: 12px;
    }           
@media screen and (min-width: 1400px) {
    font-size: 14px;
}             }
}


.footer__tel {
    display: block;
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */


    /* text */

    color: #FFFFFF;

    opacity: 0.8;
    margin-bottom: 19px;
    @media screen and (min-width: 768px) {
            margin-bottom: 0px;
            // display: inline-block;
                margin-bottom: 16px;
            
            }
    
        }

.footer__mail {
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
    
    
        /* text */
    
        color: #FFFFFF;
    
        opacity: 0.8;
        margin-bottom: 29px;


@media screen and (min-width: 768px) {
    // display: inline-block;
        margin-bottom: 16px;

    }
}
.footer__rights {
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 20px;
        /* or 182% */
    
    
        /* text */
    
        color: #FFFFFF;
    
        opacity: 0.8;
}

.footer__social {
   margin-right: 25px;
}

.footer__rights:not(:last-child){
    margin-bottom: 15px;
}

.footer__icons {
    margin-bottom: 29px;
}

.footer__tablet {
    @media screen and (min-width: 768px) {
            display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 7px;
               
    }
}
.footer__desctop {
    @media screen and (min-width: 1024px) {
            display: grid;
            justify-content: end;
                // align-content: flex-end;
          
    
        }
}