.footer {
  padding-bottom: 50px;
  padding-top: 100px;

  @media screen and (min-width: 768px) {
    padding-top: 170px;
  }

}
.footer__nav-list {
  display: grid;
  grid-template-columns: 107px 107px;
  grid-gap: 15%;
  margin-bottom: 43px;
  @media screen and (min-width: 1024px) {
    display: flex;
    grid-gap: 6%;
  }
}

.footer__nav-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 13px;
    // margin-right: 2.14%;
  }
}

.footer__tel {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-bottom: 16px;
  }
}

.footer__mail {
  display: block;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
.footer__rights {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.8;
}

.footer__social {
  margin-right: 25px;
}

.footer__rights:not(:last-child) {
  margin-bottom: 15px;
}

.footer__icons {
  margin-bottom: 29px;
}

.footer__tablet {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 234px 230px;
    grid-gap: 14%;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 230px;
    grid-gap: 7px;
  }
}

.ellipsCircleSmallFooter {
  width: 380px;
  height: 450px;
  position: absolute;
  left: -100px;
  top: -277px;
  transform: rotate(145deg);
  @media screen and (min-width: 768px) {
    position: absolute;
    transform: rotate(92deg);
    height: 600px;
    top: -280px;
    right: -105px;
    left: unset;

    width: 380px;
  }
  @media screen and (min-width: 1024px) {
    width: 250px;
    height: 340px;
    display: block;
    right: 20px;
    left: unset;

    position: absolute;
    top: -137px;
    /* right: 0; */
    transform: rotate(95deg);
  }
}

.ellipsCircleSmallFooter2 {
  height: 450px;
  position: absolute;
  left: -100px;
  top: -230px;
  transform: rotate(145deg);
  @media screen and (min-width: 768px) {
    height: 600px;
    width: 380px;
    position: absolute;
    top: -277px;
    right: -162px;
    transform: rotate(92deg);
    left: unset;
  }
  @media screen and (min-width: 1024px) {
    width: 250px;
    height: 340px;
    display: block;
    position: absolute;
    top: -125px;
    left: unset;
    right: -14px;
    transform: rotate(95deg);
  }
}
.ellipsFooter {
  position: absolute;
  top: -130px;
  left: -405px;
  height: 400px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.ellipsFooter2 {
  position: absolute;
  top: -200px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: -200px;
    left: 130px;
    height: 400px;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.footer__desctop {
  position: relative;

  @media screen and (min-width: 1024px) {
    display: grid;
    justify-content: end;
  }
}
