.overlay {
    background-color: red;
    background-image: url(../images/Ellipse21.png);
    background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: contain;
    flex-grow: 1;
    text-align: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/Ellipse21.png);
    }

    @media screen and (min-width: 768px) {
        background-image: none;
    }

    @media screen and (min-width: 1280px) {
        background-image: url(../images/about-bg-desktop-1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/about-bg-desktop-2x.png);
        }
    }
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #070606;;
 
}

.logo { 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

.humb-icon {
    fill: #FFFFFF;
    stroke:#FFFFFF;
}
.navigation {
    display: flex;
    justify-content: space-between;
}
.menu-toggle {
    background-color: transparent;
    color: red;
    border: none;
    padding: 0;
    width: 20px;
    height: 20px;
    z-index: 10;
}
.personal__stylist-picture {
    width: 280px;
    height: 390px;

}
.section__hero {
    margin-top: 75px;
}
.hero__container {
    position: relative;
}
.hero__title {
    font-family: 'Agreverance';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        /* or 114% */
    
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
}