.nav__buttons--next {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 222.5px;
  cursor: pointer;
  z-index: 2;
  fill: #ffffff;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.nav__buttons--prev {
  display: flex;
  justify-content: space-between;
  position: absolute;

  right: 0;
  bottom: 222.5px;
  cursor: pointer;
  z-index: 2;
  fill: #ffffff;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.arrow__right--phone {
  cursor: pointer;
  fill: #ffffff;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.arrow__left--phone {
  transform: rotate(180deg);
  cursor: pointer;
  fill: #ffffff;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.reviews__titleBlock {
  margin-left: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0px;
    margin-bottom: 30px;
  }
}

.center {
  @media screen and (min-width: 768px) {
    padding-left: 84px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 0px;
  }
}

.arrow-left--reviews {
  @media screen and (min-width: 0px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline;

    margin-right: 20px;

    transform: rotate(90deg);
    fill: #8d8d8d;

    cursor: pointer;
    &:hover {
      fill: #ffffff;
    }
  }
}

.arrow-right--reviews {
  @media screen and (min-width: 0px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline;

    transform: rotate(-90deg);

    fill: #8d8d8d;

    cursor: pointer;
    &:hover {
      fill: #ffffff;
    }
  }
}

.review__photo {
  width: 140px;
  height: 200px;
  opacity: 0.9;
}

.review__photo-9-1 {
  width: 110px;
  height: 200px;
  opacity: 0.9;
}

.review__photo-9-2 {
  width: 170px;
  height: 200px;
  opacity: 0.9;
}

.pictureFlex {
  display: flex;
}

.pictureFlex:nth-child(odd) {
  margin-bottom: 30px;
}

.review__title {
  width: 206px;
  height: 30px;

  margin-bottom: 30px;

  font-family: 'AGReverance';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;

  color: #ffffff;
  @media screen and (min-width: 768px) {
    width: 114px;
    height: 40px;

    margin-right: 35px;

    font-size: 40px;
    line-height: 40px;

    letter-spacing: 0.05em;

    color: #ffffff;

    opacity: 0.9;
  }
}

.reviews__text {
  width: 285px;
  height: 125px;

  font-weight: 400;
  font-size: 13px;
  line-height: 23px;

  opacity: 0.8;

  color: #ffffff;

  overflow-y: auto;
}

.flex__reverse {
  display: flex;
  flex-direction: column-reverse;
}

.reviews__text:nth-child(even) {
  margin-bottom: 30px;
}

//REVIEW SCROLL

.reviews__text::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.reviews__text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #606060;
  border: 4.5px solid transparent;
}

.reviews__text::-webkit-scrollbar-thumb {
  height: 10px;
  background: rgba(96, 96, 96, 0.5);
  border: 5em solid #606060;
  border-radius: 1000px;
}

.reviews__text::-webkit-scrollbar-thumb:hover {
  background: hsl(120 100% 10% / 1);
}

//PAGE SCROLL

html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(7, 0, 211, 1) 100%
  );
}

html::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh rgb(13, 7, 191);
}

.pag {
  width: 280px;
  text-align: center;
}

html {
  overflow-x: hidden;
  overflow-y: hidden;
}

// HIDE SCROLL EVERYWHERE

// @-moz-document url-prefix() {
//   /* Disable scrollbar Firefox */
//   html {
//     scrollbar-width: none;
//   }
// }
// body {
//   scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
//   -ms-overflow-style: none; /* Disable scrollbar IE 10+ */
// }
// body::-webkit-scrollbar {
//   width: 0px;
//   background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
// }
