.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  // margin-left: 20px;
}

// .swiper-wrapper {
//   padding-bottom: 45px;
// }

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  height: 10px;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  margin-right: 11px !important;

  opacity: 0.1;
  border: 0.5px solid #ffffff;

  @media screen and (min-width: 768px) {
    margin-right: 40px !important;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #ffffff;
  font-size: 20px;
  margin-right: 20px;
  margin-top: -80px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.swiper-button-next::after {
  margin-left: 18px;
  // margin-top: -105px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
